.unsplash__Likes_Downloads{
    color: black;
    font-style: italic;
    padding: 5px;
    display: none;
    position: absolute;
    text-align: center;
}

.unsplash__img:hover ~ .unsplash__Likes_Downloads{
    display: block;
}
